<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>609474949205-6sh6001tn61qi2gbmo1ga3l99sji76qo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.609474949205-6sh6001tn61qi2gbmo1ga3l99sji76qo</string>
	<key>API_KEY</key>
	<string>AIzaSyBc2BYkvfkjh7EAg4gugp-a-ksPrEjwUjc</string>
	<key>GCM_SENDER_ID</key>
	<string>609474949205</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gtkFlutter</string>
	<key>PROJECT_ID</key>
	<string>fir-flutter-codelab-bda78</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-flutter-codelab-bda78.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:609474949205:ios:89be76aff00f18263c64dc</string>
</dict>
</plist>